body {
  font-family: "Patua One", cursive;
  text-shadow: 4px 4px 6px rgb(76, 78, 100);
  background-color: rgb(40, 82, 251);
  background-image: url(https://wallpaperaccess.com/full/1778999.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: repeat;
  margin: 0;
  min-height: 100vh;
}
body main {
  padding: 2rem 2rem;
}
body main header .city {
  background-color: rgb(217, 226, 248);
  background-image: linear-gradient(360deg, rgb(217, 226, 248) 0%, rgb(71, 159, 241) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 80px 80px 0px 0px;
}
body main header .city .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main header .city .mainInfo img {
  max-width: 7rem;
  padding: 1rem;
}
body main header .city .mainInfo h2 {
  margin: 0;
}
body main header .city .sunset, body main header .city .sunrise {
  text-align: center;
}
body main .content {
  background-color: rgb(217, 226, 248);
  background-image: linear-gradient(180deg, rgb(217, 226, 248) 23%, rgb(71, 159, 241) 100%);
  box-shadow: 8px 39px 44px -11px rgb(66, 68, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 80px 80px;
}
body main .content #range {
  margin-top: 2rem;
  width: 40%;
  transform: scale(2);
}
body main .content .cube {
  margin-bottom: 2rem;
  padding: 2rem 0;
  width: 80%;
  text-align: center;
}
body main .content .cube h3, body main .content .cube p {
  margin: 0;
}
body main .content .cube .weatherMain .minMax {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
}