body {
  background-color: royalblue;
  margin: 0;
}
body main {
  border: 2px dashed red;
}
body main header .city {
  border: 2px dashed blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main header .city .mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main header .city .mainInfo img {
  max-width: 3rem;
}
body main header .city .mainInfo h2 {
  margin: 0;
}
body main .content {
  border: dashed green;
}